<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.moonwaygravitystaff">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/staff_launcher"
        android:label="Moonway \nStaff Portal"
        android:roundIcon="@mipmap/staff_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/MyTheme.DayNight"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".StaffChatMessaging"></activity>
        <activity android:name=".drawerMain"></activity>
        <activity android:name=".StaffMainActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".StaffAuthenticationActivity" />
        <activity
            android:name=".StaffLogin"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>