<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.moonwaygravitystaff">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/staff_launcher"
        android:label="Moonway \nStaff Portal"
        android:roundIcon="@mipmap/staff_launcher_circle"
        android:supportsRtl="true"
        android:theme="@style/MyTheme.DayNight"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ManageProfile"
            android:label="@string/title_activity_manage_profile"
            android:theme="@style/MyTheme.DayNight.NoActionBar"></activity>
        <activity
            android:name=".IllegalRecordList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".entryRecordDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StaffChatMessaging"
            android:screenOrientation="portrait" />
        <activity
            android:name=".drawerMain"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StaffMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StaffAuthenticationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CarFlowRecordList"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StaffLogin"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".PushNotification"
            android:enabled="true" />
    </application>

</manifest>